<footer>
	<div class="sitefooter">
		<div class="footercontent">
			<div class="footernavigation">
				<div>
					<h6>Documentation</h6>
					<a href="{{ site.url }}{{ site.baseurl }}/docs/installation/">Installation</a><br/>
					<a href="{{ site.url }}{{ site.baseurl }}/docs/sql/introduction">SQL Introduction</a><br/>
					<a href="{{ site.url }}{{ site.baseurl }}/why_dataminer">Why DataMiner</a>
				</div>
				<div>
					<h6>Internals</h6>
					<a href="{{ site.url }}{{ site.baseurl }}/faq">FAQs</a><br/>
					<a href="{{ site.url }}{{ site.baseurl }}/code_of_conduct">Code of Conduct</a><br/>
					<a href="{{ site.url }}{{ site.baseurl }}/foundation/">Foundation</a><br/>
					<a href="{{ site.url }}{{ site.baseurl }}/trademark_guidelines">Trademark Use</a>
				</div>
				<div>
					<h6>Commercial Support</h6>
					<a href="https://DataMinerlabs.com/" target="_blank">DataMiner Labs</a><br/>
					<a href="https://DataMinerlabs.com/#support" target="_blank">Support Options</a>
				</div>
				<div>
					<h6>Community</h6>
					<a href="https://twitter.com/DataMiner" target="_blank">X (Twitter)</a><br/>
					<a href="https://www.linkedin.com/company/DataMiner/posts" target="_blank">LinkedIn</a><br/>
					<a href="https://discord.DataMiner.org" target="_blank">Discord</a><br/>
					<a href="https://github.com/DataMiner/DataMiner" target="_blank">GitHub</a><br/>
					<a href="https://stackoverflow.com/questions/tagged/DataMiner" target="_blank">Stack Overflow</a>
				</div>
			</div>
			<div class="footerlogo">
				<img src="{{ site.baseurl }}/images/DataMiner-Footer.svg" class="DataMinerfooter" alt="DataMiner Logo">
			</div>
			<div class="bottomline">
				<div>© {{ "now" | date: "%Y" }} DataMiner Foundation, Amsterdam NL</div>
			</div>
		</div>
	</div>
</footer>
