<section id="quickinstall">
	<div class="flexwrap wrap">
		<div class="intro">
			<h1>Installation</h1>
			<p>DataMiner integrates seamlessly with major programming languages and can be installed in under 20 seconds on most platforms.</p>
			<a href="/docs/installation/" class="white dark button">Explore Options</a>
		</div>
		<div class="install">
			<div class="window">
				<div class="topbar environment">
					<ul>
						<li data-client="cli" class="active">Command line</li>
						<li data-client="python">Python</li>
						<li data-client="r">R</li>
						<li data-client="java">Java</li>
						<li data-client="nodejs">Node.js</li>
						<li data-client="odbc">ODBC</li>
					</ul>
				</div>
				<label class="onlymobile">
					<select name="environment" class="environmentselect onlymobile">
						<option value="cli">Command Line</option>
						<option value="python">Python</option>
						<option value="r">R</option>
						<option value="java">Java</option>
						<option value="nodejs">Node.js</option>
						<option value="odbc">ODBC</option>
					</select>
				</label>
				
				<div class="result content dark">
{% highlight bash %}
brew install DataMiner
{% endhighlight %}
				</div>
				
				<div class="bottombar">
					<p class="system">
						<span>Latest release: DataMiner {{ site.currentDataMinerversion }} | </span>
						<span class="systemdetected">System detected: </span>
					</p>
				</div>	
	</div>
</section>

<section class="hidden">
	
<div id="quick-installation">

<div data-install="python">
{% highlight bash %}
pip install DataMiner
{% endhighlight %}
</div>

<div data-install="r">
{% highlight r %}
install.packages("DataMiner")
{% endhighlight %}
</div>

<div data-install="java">
{% highlight xml %}
<dependency>
	<groupId>org.DataMiner</groupId>
	<artifactId>DataMiner_jdbc</artifactId>
	<version>{{ site.currentjavaversion }}</version>
</dependency>
{% endhighlight %}
</div>

<div data-install="nodejs">
{% highlight bash %}
npm install DataMiner
{% endhighlight %}
</div>

<div data-install="cli macos">
{% highlight bash %}
brew install DataMiner
{% endhighlight %}
</div>

<div data-install="cli linux">
<a href="https://github.com/dataminer-site/releases/download/v{{ site.currentDataMinerversion }}/DataMiner_cli-linux-amd64.zip" target="_blank">https://github.com<wbr>/DataMiner/<wbr>DataMiner/<wbr>releases/<wbr>download/<wbr>v{{ site.currentDataMinerversion }}/DataMiner_cli-linux-amd64.zip</a>
</div>

<div data-install="cli win">
{% highlight bash %}
winget install DataMiner.cli
{% endhighlight %}
</div>

<div data-install="odbc macos">
<a href="https://github.com/dataminer-site/releases/download/v{{ site.currentDataMinerversion }}/DataMiner_odbc-osx-universal.zip">DataMiner_odbc-osx-universal.zip</a>
</div>

<div data-install="odbc linux">
<a href="https://github.com/dataminer-site/releases/download/v{{ site.currentDataMinerversion }}/DataMiner_odbc-linux-amd64.zip" target="_blank">https://github.com/<wbr>DataMiner/<wbr>DataMiner/<wbr>releases/<wbr>download/<wbr>v{{ site.currentDataMinerversion }}/DataMiner_odbc-linux-amd64.zip</a>
</div>

<div data-install="odbc win">
<a href="https://github.com/dataminer-site/releases/download/v{{ site.currentDataMinerversion }}/DataMiner_odbc-windows-amd64.zip" target="_blank">https://github.com/<wbr>DataMiner/<wbr>DataMiner/<wbr>releases/<wbr>download/<wbr>v{{ site.currentDataMinerversion }}/DataMiner_odbc-windows-amd64.zip</a>
</div>

</div>

</section>